@font-face {
	font-family: Raleway;
	src: url(fonts/Raleway-Regular.woff2);
	src: url(fonts/Raleway-Regular.woff);
	src: url(fonts/Raleway-Regular.ttf);
	src: url(fonts/Raleway-Regular.eot);
}
@font-face {
	font-family: Roboto;
	src: url(fonts/Roboto-Regular.woff2);
	src: url(fonts/Roboto-Regular.woff);
	src: url(fonts/Roboto-Regular.ttf);
	src: url(fonts/Roboto-Regular.eot);
}
* {
    margin: 0;
    padding: 0;
}
body {
	background: #f8f8f8;
}
header {
	background: #abeafa;
	width: 100%;
	height: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cont-head {
	width: 1170px;
}
.head1 {
	display: flex;
}
.logo {
	margin: 24px 0 0 69px;
}
.logo>img {
	height: 111px;
	width: 125px;
}
.social {
	display: flex;
	margin: 50px 0 0 792px;
}
.socialicon {
	display: inline-block;
}
.facebook-icon {
	background-image: url(img/socialicons.png);
	width: 8px;
	height: 16px;
}
.facebook-icon:hover {
	background-position: 0 16px;
}
.twitter-icon {
	margin-left: 15px;
	background-image: url(img/socialicons.png);
	width: 16px;
	height: 16px;
	background-position: -12px 0;
}
.twitter-icon:hover {
	background-position: -12px 16px;
}
.youtube-icon {
	margin-left: 11px;
	background-image: url(img/socialicons.png);
	width: 16px;
	height: 16px;
	background-position: -32px 0;
}
.youtube-icon:hover {
	background-position: -32px 16px;
}
.pinterest-icon {
	margin-left: 12px;
	background-image: url(img/socialicons.png);
	width: 14px;
	height: 16px;
	background-position: -52px 0;
}
.pinterest-icon:hover {
	background-position: -52px 16px;
}
.instagram-icon {
	margin-left: 12px;
	background-image: url(img/socialicons.png);
	width: 16px;
	height: 16px;
	background-position: -70px 0;
}
.instagram-icon:hover {
	background-position: -70px 16px;
}
.head2 {
	display: flex;
}
.welcome {
	height: 300px;
	width: 270px;
	background: #fff51f;
	margin-top: 201px;
	font-family: 'Raleway', Arial, sans-serif;
	color: #333;
}
.welcome>p:first-child {
	font-size: 30px;
	line-height: 30px;
	margin: 82px 0 0 25px;
	text-transform: uppercase;
}
.welcome>p:last-child {
	font-size: 18px;
	line-height: 14px;
	font-style: italic;
	margin: 16px 30px 0 22px;
}
.funride {
	font-family: 'Raleway', Arial, sans-serif;
	color: #fff51f;
	height: 169px;
	width: 313px;
	margin: 108px 0 0 478px;
}
.funride>p:first-child {
	font-size: 46px;
	line-height: 46px;
	text-transform: uppercase;
	font-weight: 700;
}
.funride>p:last-child {
	font-size: 18px;
	line-height: 19px;
}
.buy-now {
	display: inline-block;
	width: 124px;
	height: 49px;
	background-color: #fff51f;
	text-decoration: none;
	text-align: center;
	line-height: 49px;
	margin: 62px 0 0 481px;
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	color: black;
	border: 0px solid #abeafa;
}
.buy-now:hover {
	background-color: gold;
}
.buy-now:active {
	border: 2px solid #abeafa;
}
.container {
	margin: 0 auto;
	width: 1170px;
	display: flex;
}
.column {
	width: 270px;
	margin-top: -19px;
}
.main {
	background-color: #f8f8f8;
	width: 870px;
	margin: -19px 0 0 30px;
}
.title-menu {
	height: 66px;
	background-color: #333;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: white;
	line-height: 66px;
}
.title-menu>p {
	margin-left: 42px;
}
.menu {
	display: flex;
	height: 407px;
	background-color: #26d2fc;
	flex-direction: column;
}
.menu-unit {
	height: 37px;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	line-height: 37px;
	padding-left: 42px;
	text-decoration: none;
}
.menu-unit:visited{
	color: #333;
}
.menu-unit:hover {
	background-color: #333;
	color: #fff;
}
.banner {
	height: 300px;
	background-color: #e0e0e0;
	margin-top: 30px;
}
.banner>span {
	display: inline-block;
	margin: 129px 0 0 142px;
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 36px;
	line-height: 36px;
	font-weight: 900;
	font-style: italic;
	text-transform: uppercase;
}
.new-product {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.item {
	width: 270px;
	height: 320px;
	background-color: #fff;
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}
.item:hover {
	box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
}
.top-product {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.sale-product {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.top-pro {
	margin-top: 46px;
}
.sale-pro {
	margin: 50px 0 30px 0;
}
.product {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 22px;
	margin: 28px 0 0 50px;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
	color: #707070;
}
.item>a {
	display: inline-block;
}
.item>a>img {
	margin: 10px;
}
.name {
	width: 135px;
	display: inline-block;
	margin-left: 26px;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	font-style: italic;
	color: #333;
}
.price {
	width: 90px;
	height: 51px;
	display: flex;
	flex-direction: column;
	margin-right: 10px;
	text-align: right;
}
.current-price {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	font-style: italic;
	color: #333;
}
.old-price {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	font-style: italic;
	color: #fe6666;
	text-decoration: line-through;
}
.container-2 {
	margin: 0 auto;
	width: 1170px;
	display: flex;
	flex-direction: column;
}
.brand {
	width: 100%;
	height: 160px;
	background-color: #fff;
	display: flex;
	justify-content: space-around;
}
.brand-unit {
	width: 135px;
	height: 100%;
	background-image: url(img/brand.png);
	background-repeat: no-repeat;
	background-position: center;
}
.brand-unit:hover {
	background-color: #ccc;
}
.insta {
	width: 100%;
	height: 350px;
	background-color: #eaeaea;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.insta-link {
	margin-top: 51px;
	display: flex;
	align-items: center;
}
.ins-feed {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	font-style: italic;
	color: #333;
}
.ins-link2 {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	font-style: italic;
	color: #333;
}
.ins-link2>a {
	color: inherit;
	text-decoration: none;
}
.insta-img {
	width: 100%;
	margin-top: 26px;
	display: flex;
	justify-content: space-between;
}
.social-button {
	display: flex;
}
.social-button>a {
	display: flex;
	width: 390px;
	height: 150px;
}
.facebook-button {
	background-color: #3b5997;
}
.twitter-button {
	background-color: #3fccfd;
}
.pinterest-button {
	background-color: #cb2027;
}
.social-button>a>img {
	margin: auto;
}
.social-button>a:hover {
	background-color: #ccc;
}
footer {
	background: #373737;
	width: 100%;
	height: 348px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.cont-foot {
	width: 1170px;
}
.foot1 {
	display: flex;
	justify-content: space-between;
}
.foot1>div {
	margin-top: 75px;
	display: flex;
	flex-direction: column;
}
.foot1>div>a {
	display: inline-block;
	text-decoration: none;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #fff;
}
.foot1>div>a:hover {
	color: yellow;
}
.foot1>div>h2 {
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 20px;
}
.join-us {
	width: 200px;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 12px;
	line-height: 12px;
	font-weight: 400;
	color: #fff;
}
.email {
	margin-top: 20px;
}
.e-mail{
	width: 180px;
	height: 30px;
	background-color: #fff51f;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 12px;
	line-height: 21px;
	font-weight: 700;
	color: #9f9f9f;
}
.e-mail:focus {
	outline: none;
}
.e-mail,
.submit {
	border: 0px;
}
.submit {
	width: 71px;
	height: 30px;
	background-color: #000;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 12px;
	line-height: 21px;
	font-weight: 700;
	color: #fff;
	margin: -2px 0 0 -4px;
}
.submit:hover {
	background-color: #ccc;
	color: #000;
}
.payment {
	width: 256px;
	display: flex;
	justify-content: space-between;
}
.payment>div {
	width: 36px;
	height: 22px;
	margin-top: 28px;
	border: 2px solid #373737;
}
.payment>div:hover {
	border: 2px solid #fff51f;
	opacity: 0.5;
}
.pay1 {
	background-image: url(img/payment.png);
	background-position: 0 0;
}
.pay2 {
	background-image: url(img/payment.png);
	background-position: -36px 0;
}
.pay3 {
	background-image: url(img/payment.png);
	background-position: -72px 0;
}
.pay4 {
	background-image: url(img/payment.png);
	background-position: -108px 0;
}
.pay5 {
	background-image: url(img/payment.png);
	background-position: -144px 0;
}
.pay6 {
	background-image: url(img/payment.png);
	background-position: -180px 0;
}
.about-us {
	width: 235px;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 12px;
	line-height: 12px;
	font-weight: 400;
	color: #fff;
}
.conts {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 50px;
	margin-top: 10px;
}
.conts>div {
	height: 25px;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}
.conts>div:last-child {
	color: #fff51f;
}
.foot2 {
	width: 1170px;
	background-color: #333;
	height: 47px;
	display: flex;
	justify-content: space-between;
	margin-top: 53px;
	align-items: center;
}
.all-rights {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #fff;
}
.socialicon-2 {
	width: 300px;
	display: flex;
}
.socialicon-2>a {
	margin-left: 15px;
}
.icon1 {
	width: 7px;
	height: 15px;
	background-image: url(img/socialicons2.png);
}
.icon2 {
	width: 14px;
	height: 13px;
	background-image: url(img/socialicons2.png);
	background-position: -7px -2px;
}
.icon3 {
	width: 12px;
	height: 15px;
	background-image: url(img/socialicons2.png);
	background-position: -21px 0;
}
.icon4 {
	width: 15px;
	height: 13px;
	background-image: url(img/socialicons2.png);
	background-position: -33px -2px;
}
.icon5 {
	width: 10px;
	height: 15px;
	background-image: url(img/socialicons2.png);
	background-position: -48px 0;
}
.icon6 {
	width: 15px;
	height: 15px;
	background-image: url(img/socialicons2.png);
	background-position: -58px 0;
}
.icon7 {
	width: 15px;
	height: 15px;
	background-image: url(img/socialicons2.png);
	background-position: -73px 0;
}
.icon1:hover {
	background-position: 0 -15px;
}
.icon2:hover {
	background-position: -7px -17px;
}
.icon3:hover {
	background-position: -21px -15px;
}
.icon4:hover {
	background-position: -33px -17px;
}
.icon5:hover {
	background-position: -48px -15px;
}
.icon6:hover {
	background-position: -58px -15px;
}
.icon7:hover {
	background-position: -73px -15px;
}
.corner-new {
	width: 0;
	height: 0;
	border-top: 46px solid #e24602; 
	border-left: 46px solid transparent;
	position: absolute;
	right: 0;
}
.corner-new:before {
	content: "NEW";
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 9px;
	font-weight: 400;
	color: #fff;
	text-align: left;
	position: absolute;
	left: -25px;
	top: -38px;
}
.corner-hot {
	width: 0;
	height: 0;
	border-top: 46px solid #faef03; 
	border-left: 46px solid transparent;
	position: absolute;
	right: 0;
}
.corner-hot:before {
	content: "HOT";
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 9px;
	font-weight: 400;
	color: #000;
	text-align: left;
	position: absolute;
	left: -21px;
	top: -38px;
}
.insta-img>a {
	opacity: 0.3;
}
.insta-img>a:hover {
	opacity: 1.0;
}