@font-face {
	font-family: Raleway;
	src: local('Raleway');
	src: url(fonts/Raleway-Regular.woff2);
	src: url(fonts/Raleway-Regular.woff);
	src: url(fonts/Raleway-Regular.ttf);
	src: url(fonts/Raleway-Regular.eot);
}
@font-face {
	font-family: Montserrat;
	src: local('Montserrat');
	src: url(fonts/Montserrat-Regular.woff2);
	src: url(fonts/Montserrat-Regular.woff);
	src: url(fonts/Montserrat-Regular.ttf);
	src: url(fonts/Montserrat-Regular.eot);
}