@media (max-width: 568px) {
	.container {
		width: 100%;
	}
	.header {
		width: 100%;
		height: auto;
		background-size: cover;
	}
	.sub-head {
		width: 100%;
	}
	.logo {
		margin-bottom: 40px;
	}
	.sub-head-2,
	.sub-head-3,
	.bagage,
	.search {
		display: none;
	}
	label {
		display: flex;
		margin: auto;
	}
	nav {
		visibility: hidden;
		margin: 0 auto;
		flex-direction: column;
		&>a {
			display: flex;
			align-items: center;
			margin: 10px;
		}
	}
	.nav-link {
		line-height: 20px;
	}
	.figures {
		flex-wrap: wrap;
	}
	.fig1,
	.fig2,
	.fig3,
	.fig4 {
		margin: 15px;
		width: 210px;
	}
	.realization,
	.commercial,
	.counters,
	.foot1 {
		display: none;
	}
	.projects {
		width: 100%;
		&>p {
			width: 100%;
		}
	}
	.projects-nav {
		flex-wrap: wrap;
		&>a {
			margin: 5px;
		}
	}
	.projects-image {
		justify-content: space-around;
		&>article {
			margin: 20px 55px;
		}
	}
	.iphone-img {
		width: 40%;
		background-size: contain;
	}
	.iphone-txt {
		width: 55%;
	}
	.counters {
		flex-wrap: wrap;
		height: auto;
	}
	.count-icon {
		margin: 0 10px;
	}
	.posts {
		&>p {
			width: 90%;
		}
		&>div {
			flex-wrap: wrap;
		}
	}
	.partners {
		background-size: cover;
		height: auto;
		flex-wrap: wrap;
		&>a {
			margin: 25px;
		}
	}
	.foot2 {
		height: auto;
		flex-wrap: wrap;
		&>div {
			margin: 10px 0;
		}
	}
}