.realization {
	background-color: $color5;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	&>h2 {
		padding: 80px 0 20px 0;
		@include text-Raleway($color1, 30px, 30px);
	}
	&>p {
		width: 750px;
		display: inline-block;
		@include text-Raleway($color6, 16px, 28px);
	}
	&>div {
		display: inline-block;
		width: 1230px;
		height: 482px;
		background-image: url('img/browser-collage.png');
		background-repeat: no-repeat;
		background-size: 100%;
		margin-top: 35px;
	}
}