$color1: #555;
$color2: #998675;
$color3: #191919;
$color4: #111;
$color4: white;
$color5: #fbfaf8;
$color6: #8c8c8c;
$font1: Arial;
$font2: sans-serif;
$head-icon: url('img/head-icon.png');
$slider-button: url('img/slider-button.png');
$radio: url('img/radio.png');
$figures: url('img/figures.png');
$link-lupa: url('img/pro-icon.png');
$count-icon: url('img/count-icon.png');
$post-nav: url('img/post-nav.png');
$partners: url('img/partners.png');