.buy>h2 {
	@include text($text-color3, 30px, 36px);
	margin-bottom:30px;
	padding-top: 50px;
	text-align: center;
}
.buy-var {
	display: flex;
	justify-content: center;
}
.variant {
	width: 300px;
	align-self: flex-end;
	margin: 30px 25px 50px 25px;
	background-color: $head-foot-bg;
	border: 2px solid $head-foot-bg;
	border-radius: 10px;
	&>h3 {
		@include text($text-color1, 24px, 30px);
		text-align: center;
		font-weight: 200;
		margin: 15px 0;
	}
	&>ol {
		margin: 20px 0 20px 30px;
		@include text($text-color1, 14px, 24px);
		font-weight: 200;
	}
}
.price {
	background-color: $body-bg;
	height: 70px;
	@include text($text-color3, 40px, 70px);
	text-align: center;
	font-weight: 200;
}
.buy-butt{
	display: inline-block;
	width: 260px;
	height: 40px;
	border-radius: 5px;
	background-color: #fff;
	margin: 0 20px 20px 20px;
	@include text($text-color3, 18px, 40px);
	text-align: center;
	text-decoration: none;
	font-weight: 600;
	&:hover {
		background-color: #b0b4b8;
		color: black;
	}
	&:active {
		background-color: #5b728f;
		color: black;
		border: 1px solid transparent;
		margin: 0 18px 18px 20px;
	}
}