.header {
	background-color: $head-foot-bg;
	display: flex;
	justify-content: space-between;
}
.header-img {
	display: block;
	margin: 50px 50px 59px 0;
	opacity: 0.8;
	&:hover {
		opacity: 1.0;
	}
}
.header-text {
	margin: 50px 0 50px 50px;
	&>h1 {
		@include text($text-color1, 60px, 60px);
		margin-bottom: 50px;
	}
}
.header-menu {
	margin-left: 30px;
	color: $text-color1;
	list-style-image: $chek-icon1;
	&>li:hover {
		color: #000;
		list-style-image: $chek-icon2;
	}
}
.header-link {
	@include text($text-color1, 20px, 36px);
	text-decoration: none;
}
#stop {
	color: red;
	&:hover {
		color: white;
	}
}