$body-bg: #fff;
$head-foot-bg: #445162;
$text-color1: #fff;
$text-color2: #333;
$text-color3: #445161;
$section-bg: #f5f5f5;
$font1: Arial;
$font2: sans-serif;
$social-icons: url(img/social-icons.png);
$social-buttons: url(img/social-buttons.png);
$chek-icon1: url(img/check-icon.png);
$chek-icon2: url(img/check-icon2.png);
